<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Редактировать бота | TopBots</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/1.1.0/marked.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sanitize-html/1.26.0/sanitize-html.min.js"></script>
    <%- include("./components/header.ejs") %>
</head>
<body>
    <%- include("./components/navbar.ejs", { bot, user }) %>
    <div style="text-align: center;" >
        <h2>Редактировать</h2>
        <p>Вы редактируете <strong><%= botInfo.username %>#<%= botInfo.discriminator %></strong></p>
        <a href="/bots/<%= botInfo.id %>/delete" type="button" class="btn btn-danger">Удалить бота</a>
    </div>
    <svg style="height: 100%;" class="editorial"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 24 150 28"
    preserveAspectRatio="none">
   <defs>
   <path id="gentle-wave"
   d="M-160 44c30 0 
   58-18 88-18s
   58 18 88 18 
   58-18 88-18 
   58 18 88 18
   v44h-352z" />
   </defs>
   <g class="parallax">
       <use  xlink:href="#gentle-wave" x="75" y="0" class="wave"/>
       <use xlink:href="#gentle-wave" x="75" y="3" class="wave2"/>
       <use xlink:href="#gentle-wave" x="75" y="6" class="wave3"/>  
   </g>
   </svg>                  
   <div class="content">
    <div class="container" style="justify-content: center;" >
        <div class="alert alert-dismissible alert-success" id="success-save" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Хммм, все сохранилось :klass:</strong>
        </div>
        <div class="alert alert-dismissible alert-danger" id="error-save" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Уппс, ошибочка, хах</strong>
        </div>
        <div class="alert alert-dismissible alert-warning" id="warning-save" style="display: none;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong></strong>
        </div>
        <div class="form">
            <form action="/bots/<%= botInfo.id %>/edit" method="POST" onsubmit="return validateForm()">
                <div class="form-group required">
                    <label for="botID">ID бота</label>
                    <input type="number" class="form-control" id="botID" value="<%= botInfo.id %>" disabled>
                </div>
                <div class="form-group required">
                    <label for="botPrefix">Префикс</label>
                    <input type="text" class="form-control" id="botPrefix" value="<%= botDB.prefix %>" placeholder="<%= bot.config.prefix %>" onkeyup="setValidation($(this), checkValid($(this)))" autocomplete="off">
                </div>
                <div class="form-group required">
                    <label for="botShortDesc">Краткое описание</label>
                    <input type="text" class="form-control" id="botShortDesc" value="<%= botDB.shortDesc %>" aria-describedby="botShortDeschelp" placeholder="Revolutionary bot with..." onkeyup="setValidation($(this), checkValid($(this), 'char_100'))" autocomplete="off">
                    <small id="botShortDeschelp" class="form-text text-muted">Минимум 50 сим., максимум 100</small>
                </div>
                <div class="form-group required">
                    <label for="botLongDesc">Основное описание</label>
                    <textarea class="form-control" id="botLongDesc" rows="3" placeholder="lorem ipsun ..." onkeyup="setValidation($(this), checkValid($(this), 'char_300'))" autocomplete="off"><%= botDB.longDesc %></textarea>
                    <small id="botLongDeschelp" class="form-text text-muted">HTML & Markdown поддерживает, минимум 300 символов</small>
                </div>
                <div class="botLongDescPreviewBox">
                    <label>Предпросмотр описания</label>
                    <div class="card bg-light mb-3">
                        <div class="card-body">
                            <div id="botLongDescPreview" style="color: azure;" ></div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="botWebsite">Сайт</label>
                    <input type="url" class="form-control" id="botWebsite" value="<%= botDB.botWebsite %>" placeholder="https://elemelkya.xyz" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="botSupport">Сервер поддержки</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text">https://discord.gg/</span>
                        </div>
                        <input type="text" class="form-control" id="botSupport" value="<%= botDB.botServer %>" placeholder="8KV5zCg" autocomplete="off">
                    </div>
                </div>
                <div class="form-group">
                    <label for="botInvite">Приглашение</label>
                    <input type="url" class="form-control" id="botInvite" value="<%= botDB.customInvite %>" aria-describedby="botInvitehelp" placeholder="https://discordapp.com/oauth2/authorize?client_id=<%= bot.user.id %>&scope=bot&permissions=8" autocomplete="off">
                    <small id="botInvitehelp" class="form-text text-muted">Может сгенерирован на <a target="__blank" href="https://discordapi.com/permissions.html">Discord API Permissions</a></small>
                </div>
                <div class="form-group" id="tags-box" style="justify-content: center" >
                    <label class="mb-0">Теги</label>
                    <small class="form-text text-muted mt-0 mb-2">Максимум 4 тега</small>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-moderation" value="moderation" name="tag" <% if (botDB.botTags.includes("moderation")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-moderation">Модерация</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-fun" value="fun" name="tag" <% if (botDB.botTags.includes("fun")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-fun">Веселье</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-economy" value="economy" name="tag" <% if (botDB.botTags.includes("economy")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-economy">Экономика</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-leveling" value="leveling" name="tag" <% if (botDB.botTags.includes("leveling")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-leveling">Уровни</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-utility" value="utility" name="tag" <% if (botDB.botTags.includes("utility")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-utility">Утилиты</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-anime" value="anime" name="tag" <% if (botDB.botTags.includes("anime")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-anime">Анямэ)</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-meme" value="meme" name="tag" <% if (botDB.botTags.includes("meme")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-meme">Мемы</label>
                    </div>
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="tag-music" value="music" name="tag" <% if (botDB.botTags.includes("music")) { %> checked <% } %>>
                        <label class="custom-control-label" for="tag-music">Музыка</label>
                    </div>
                </div>
                <div class="alert alert-dismissible alert-danger" id="form-error-popup" style="display: none;"></div>
                <p style="color: #555;">Нажимая на кнопку, ты подтверждаешь что ты согласен в DiscordTOS.</p>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
        <br><br>
    </div>
</div>
</body>

<script>
$(function() {
    renderDesc();

    const url = new URL(window.location.href);
    const success = url.searchParams.get("success");
    if(success === "true") {
        $("#success-save").css("display", "block");
    } else if(success === "false") {
        const error = url.searchParams.get("error");
        $("#error-save strong").text(`${$("#error-save strong").text()} ${error || ""}`);
        $("#error-save").css("display", "block");
    }

    const warning = url.searchParams.get("warning");
    if(warning) {
        $("#warning-save").text(warning);
        $("#warning-save").css("display", "block");
    }

    $("form").submit(function (event) {
        event.preventDefault();

        const validated = validateForm();
        if(!validated) return
    
        const form = $(this);

        const tags = [];
        $.each($("input[name='tag']:checked"), function() {
            tags.push($(this).val());
        });

        const data = {
            id: $("#botID").val().toString() || null,
            prefix: $("#botPrefix").val() || null,
            description: {
                short: $("#botShortDesc").val() || null,
                long: $("#botLongDesc").val() || null
            },
            website: $("#botWebsite").val() || null,
            support: $("#botSupport").val() || null,
            invite: $("#botInvite").val() || null,
            tags
        };

        $.ajax({
            type: form.attr("method"),
            url: form.attr("action"),
            dataType: "json",
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (resp) {
                if(resp.code === "OK") window.location.replace("/bots/<%= botInfo.id %>/edit?success=true");
                else window.location.replace("/bots/<%= botInfo.id %>/edit?success=false&error=" + resp.e);
            },
            error: function (resp) {
                if(resp.responseJSON.code === "INVALID_BOT") {
                    setValidation($("#botID"), false);
                }
                $("#form-error-popup").html(`<strong>${resp.responseJSON.message}</strong>`).css("display", "block");
            }
        });
    });
});

function validateForm() {
    let INVALID_STUFFS = 0;

    /* ID */
    const botID = $("#botID");
    if(botID) {
        const isValid = checkValid(botID);
        setValidation(botID, isValid);
        if(!isValid) INVALID_STUFFS += 1;
    }

    /* Prefix */
    const botPrefix = $("#botPrefix");
    if(botPrefix) {
        const isValid = checkValid(botPrefix);
        setValidation(botPrefix, isValid);
        if(!isValid) INVALID_STUFFS += 1;
    }

    /* Short Desc */
    const botShortDesc = $("#botShortDesc");
    if(botShortDesc) {
        const isValid = checkValid(botShortDesc);
        setValidation(botShortDesc, isValid, "char_100");
        if(!isValid) INVALID_STUFFS += 1;
    }

    /* Long Desc */
    const botLongDesc = $("#botLongDesc");
    if(botLongDesc) {
        const isValid = checkValid(botLongDesc);
        setValidation(botLongDesc, isValid, "char_300");
        if(!isValid) INVALID_STUFFS += 1;
    }

    const isValid = INVALID_STUFFS === 0;

    if(!isValid) $("#form-error-popup").text(`Oh snap! ${INVALID_STUFFS} invalid inputs were found! Click submit after fixing them.`).css("display", "block");

    return isValid;
}

function checkValid(div, key) {
    if(!div.val()) return false;
    if(key === "char_100" && !(div.val().length >= 50 && div.val().length <= 100)) return false;
    if(key === "char_300" && div.val().length <= 300) return false;
    return true;
}

function setValidation(div, valid) {
    const INVALID_CLASS = "is-invalid";
    const VALID_CLASS = "is-valid";

    if(valid) {
        if(div.hasClass(INVALID_CLASS)) div.removeClass(INVALID_CLASS);
        div.addClass(VALID_CLASS);
    } else {
        if(div.hasClass(VALID_CLASS)) div.removeClass(VALID_CLASS);
        div.addClass(INVALID_CLASS);
    }
}

const longDesc = $('#botLongDesc');
const longDescPreview = $('#botLongDescPreview');

longDesc.on('change keyup paste', renderDesc);
function renderDesc() {
    const markdownRender = marked(longDesc.val());
    const allowedTags = sanitizeHtml.defaults.allowedTags.concat(["img", "center"]);
    const sanitizedRender = sanitizeHtml(markdownRender, {
        allowedTags
    });
    longDescPreview.html(sanitizedRender);
}

$(".custom-control-input").on('change', function() {
    const tags = [];
    $.each($("input[name='tag']:checked"), function() {
        tags.push($(this).val());
    });
    if(tags.length > 4) {
        this.checked = false;
    }
});
</script>

<style>
.form-group.required label:after {
    content:" *";
    color:red;
}
</style>
</html>