<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="msvalidate.01" content="293BCBDB1FB956992E16982F16135EFD" />
<meta name="verification" content="54df04ad875f7a1f0f25c7ec21d082" />
    <meta name="yandex-verification" content="ef631069096827b1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="yandex-verification" content="01d6c9cea2488c64" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XC59BH0KTK"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XC59BH0KTK');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лист Ботов Дискорд | TopBots</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <meta name="keywords" content="TopBots, Список Дискорд ботов, Лучшие боты, Боты, боты, Discord Bots List, TB, мониторинг ботов Дискорд, discord bot monitoring, боты для дискорда, как добавить бота в дискорд, бот для дискорда музыка, discord, боты для дискорд, боты для discord, мониторинг ботов, бот для дискорда музыка, дискорд, discord, боты дискорд, дискорд боты, лист ботов дискорд, топ ботов дискорд, русские боты дискорд, список русских ботов дискорд, лучшие боты дискорд, discord bots, bots discord, boticord, top bots, topgg, botsgg, discordbots, botsfordiscord, cool discord bots, дискорд, discord, боты дискорд, дискорд боты, лист ботов дискорд, топ ботов дискорд, русские боты дискорд, список руских ботов дискорд, лучшие боты дискорд, discord bots, bots discord">
    <meta name="description" content="TopBots - Лучшие боты дискорда в одном месте. ">
    <meta name="yandex-verification" content="860953b3b7436c65" />
    <%- include("./components/header.ejs") %>
</head>
    </head>
    
    <body>
    <meta name="msvalidate.01" content="293BCBDB1FB956992E16982F16135EFD" />
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(69407656, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/69407656" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <%- include("./components/navbar.ejs", { bot, user }) %>
            <div class="jumbo" style="border-radius: 10px;padding-top: 5%;">   
            <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.7.0/jquery.lettering.min.js'></script>
                <h1 class="line-1 anim-typewriter" style="text-align: center;font-size: 400%;"><strong>TOPBOTS</strong></h1>
                <p class="line-2 anim-typewriter2" style="text-align: center;margin-bottom: 0px;">Нужные боты discord - в одном месте</p>
                <div style="text-align: center;justify-content: center;" class="form-inline my-2 my-lg-0">
                    <input id="search-box" class="form-control" type="text" style="border-color: black; opacity: .5;border-radius: 10px;padding-left: 7%;padding-right: 15%;" placeholder="на свой трах и риск(c)d1m0s23" autocomplete="off">
                    <button id="search-btn" class="btn btn-light my-2 my-sm-0"  style="background-color:  #4a5da1;border-radius: 10px;color: #ffffff;text-align: right;" type="button">Поиск</button>
                </div>
                <div class="snow">
                    <div id='snow1'></div>
                    <div id='snow2'></div>
                    <div id='snow3'></div>
                </div>  
            </div>
 <svg style="height: 100%;" class="editorial"
 xmlns="http://www.w3.org/2000/svg"
 xmlns:xlink="http://www.w3.org/1999/xlink"
 viewBox="0 24 150 28"
 preserveAspectRatio="none">
<defs>
<path id="gentle-wave"
d="M-160 44c30 0 
58-18 88-18s
58 18 88 18 
58-18 88-18 
58 18 88 18
v44h-352z" />
</defs>
<g class="parallax">
<use  xlink:href="#gentle-wave" x="75" y="0" class="wave"/>
<use xlink:href="#gentle-wave" x="75" y="3" class="wave2"/>
<use xlink:href="#gentle-wave" x="75" y="6" class="wave3"/>  
</g>
</svg>                  
<div class="content">
    <div class="container">
         <div class="randombots">
        <h3 style="color: #ffffff;"><strong>Боты по рейтингу</strong></h3>
        <% for(let i = 0; i < bots.length; i++) { %>
            <div class="row">
                <% for(let j = 0; j < bots[i].length; j++) { %>
                    <div  class="col-md-3 mb-3 bot-card-col">
                    <% if(bots[i][j].botID == '756878980123983995') { %>
                    <div style="background: #7289da;border-radius: 0 20px;" class="card">
                    <% } else { %>
                        <div style="background: #23272A;border-radius: 0 20px;" class="card">
                        <% } %>
                            <% if (bots[i][j].avatar) { %>
                                <img style="border-radius: 0 20px;" class="card-img-top" src="https://cdn.discordapp.com/avatars/<%= bots[i][j].botID %>/<%= bots[i][j].avatar %>.png?size=1280" alt="<%= bots[i][j].tag %>">
                            <% } else { %>
                                <img style="border-radius: 0 20px;" class="card-img-top" src="https://cdn.discordapp.com/embed/avatars/<%= (bots[i][j].botID % 5) %>.png" alt="<%= bots[i][j].tag %>">
                            <% } %>
                            <div style="border-radius: 10px;" class="card-body">
                                <h4 class="card-title" style="margin-bottom: 0;border-radius: 0 10px;color: #ffffff;"><strong><%= bots[i][j].tag %></strong></h4>

                                    <div class="badges">
                                        <span style="border-radius: 0 10px;padding-right: 15px;padding-left: 15px;" class="badge badge-success">Онлайн</span>
                                <% if(bots[i][j].botID == '756878980123983995') { %>
                                <span style="border-radius: 0 10px;padding-right: 15px;padding-left: 15px;" class="badge badge-danger">БУСТ </span> 
                                <span style="border-radius: 0 10px;padding-right: 15px;padding-left: 15px;" class="badge badge-primary">∞</span>
                                <% } else { %>
                                        <span style="border-radius: 0 10px;padding-right: 15px;padding-left: 15px;" class="badge badge-primary">Серверов: ?</span>
                                        <span style="border-radius: 0 10px;padding-right: 15px;padding-left: 15px;" class="badge badge-danger">Голосов: <%= bots[i][j].totalUpvotes %></span>
                                    <% } %>
                                    </div>

                                <p class="card-text" style="color: rgb(255, 255, 255);"><strong><%= bots[i][j].shortDesc.length > 5 ? bots[i][j].shortDesc.substr(0, 30) + "..." : bots[i][j].shortDesc %></strong></p>
                                <div class="button-view" id="bot-card-bottons" role="group" aria-label="Basic example" style="width: 100%;">
                                     <a href="/bots/<%= bots[i][j].botID %>" style="border-radius: 15px;background-color: #ffffff;color: black;" type="button" class="btn btn-primary">Просмотр</a>  
                                </div>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        <% } %>
    </div>
 </div>
</div>

        <br>
        <hr>
</div> 
<%- include("./components/footer.ejs") %>
</body>
</html>
