<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TopBots</title>
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
     <meta name="keywords" content="TopBots, Список Дискорд ботов, Лучшие боты, Боты, боты, Discord Bots List, TB, мониторинг ботов Дискорд, discord bot monitoring ">
     <meta name="description" content="Хочешь найти ботов?Либо раскрутить своего бота?Зайди на top-bots.top .Мы поможем тебе найти лучших ботов для твоего сервера,либо раскрутить своего бота.">
     <meta name="yandex-verification" content="860953b3b7436c65" />
    <%- include("./components/header.ejs") %>
</head>
<body>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(69407656, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/69407656" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <%- include("./components/navbar.ejs", { bot, user }) %>

    <div class="container">
        <div class="jumbotron" style="background-image: url(/assets/black_background.png);border-radius: 10px;">
            <h2 class="" style="color: azure;text-align: center;"><strong>TopBots</strong></h2>
            <p style="color: azure;text-align: center;">Лучшие Discord боты в одном месте</p>
            <div style="padding-left: 385px;" class="form-inline my-2 my-lg-0">
                <input id="search-box" class="form-control" type="text" style="opacity: .5;border-radius: 10px;" placeholder="у меня на локал хосте все нормально. (c) d1m0s23 2020" autocomplete="off">
                <button id="search-btn" class="btn btn-light my-2 my-sm-0"  style="background-color: #00ccff;border-radius: 10px;color: #ffffff;" type="button">Поиск</button>
            </div>
        </div>
        <br>
        <div class="randombots">
            <h2 style="color: #ffffff;"><strong>Боты по рейтингу</strong></h2>
            <% for(let i = 0; i < bots.length; i++) { %>
                <div class="row">
                    <% for(let j = 0; j < bots[i].length; j++) { %>
                        <div  class="col-md-3 mb-3 bot-card-col">
                            <div style="background: #5a5a5a;border-radius: 0 20px;" class="card">
                                <% if (bots[i][j].avatar) { %>
                                    <img style="border-radius: 0 20px;" class="card-img-top" src="https://cdn.discordapp.com/avatars/<%= bots[i][j].botID %>/<%= bots[i][j].avatar %>.png?size=1280" alt="<%= bots[i][j].tag %>">
                                <% } else { %>
                                    <img style="border-radius: 0 20px;" class="card-img-top" src="https://cdn.discordapp.com/embed/avatars/<%= (bots[i][j].botID % 5) %>.png" alt="<%= bots[i][j].tag %>">
                                <% } %>
                                <div style="border-radius: 10px;" class="card-body">
                                    <h4 class="card-title" style="margin-bottom: 0;border-radius: 0 10px;color: #ffffff;"><strong><%= bots[i][j].tag %></strong></h4>
    
                                        <div class="badges">
                                            <span style="border-radius: 0 10px;" class="badge badge-success">Онлайн</span>
                                            <span style="border-radius: 0 10px;" class="badge badge-primary">Серверов: ?</span>
                                            <span style="border-radius: 0 10px;" class="badge badge-danger">Голосов: <%= bots[i][j].upvotes %></span>
                                        </div>
                                    
                                 

                                    <p class="card-text" style="color: rgb(255, 255, 255);"><strong><%= bots[i][j].shortDesc.length > 5 ? bots[i][j].shortDesc.substr(0, 97) + "..." : bots[i][j].shortDesc %></strong></p>
                                    <div class="button-view" id="bot-card-bottons" role="group" aria-label="Basic example" style="width: 100%;">
                                        <style>
                                            .button-view-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.button-view-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transform: translateY(-4px);
  transform: translateY(-4px);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.button-view-reveal:hover:before, .button-view-reveal:focus:before, .button-view-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

                                        </style>
                                        
                                        <a href="/bots/<%= bots[i][j].botID %>" style="border-radius: 15px;background-color: #7289DA;" type="button" class="btn btn-primary">Просмотр</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </div>
    <%- include("./components/footer.ejs") %> 
</body>

<style>
.bot-card-avatar {
    width: 100%;
    margin-bottom: 20px;
}

@media screen and (max-width: 757px) {
    .bot-card-col {
        margin: 0 30px;
    }
}
</style>
</html>
